@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Righteous&display=swap');
:root {
    --main-color: #cc242d;
    --snow-color: #fffafa;
    --dark-color: #121212;
    --dark2-color: #0f0f0f;
}

* {
    font-family: 'Fira Code', monospace;
}

.ant-btn:hover,
.ant-btn:active,
.ant-btn:focus {
    border-color: var(--main-color) !important;
    color: var(--main-color) !important;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: var(--main-color) !important;
}

.ant-input:hover,
.ant-input:focus,
.ant-input:active,
.ant-select-selector:hover,
.ant-select-selector:focus,
.ant-select-selector:active {
    border-color: var(--main-color) !important;
}

.anticon:hover {
    color: var(--main-color) !important;
}

.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark,
.ant-menu.ant-menu-dark .ant-menu-sub,
.ant-layout-header,
.ant-layout-sider {
    background-color: #360306;
}

.ant-layout-sider-trigger,
.ant-btn-primary {
    background-color: #63050c;
    border-color: #63050c;
}

@import url("https://fonts.googleapis.com/css?family=Poppins");
@font-face {
    font-family: "DejaVu";
    src: url("https://cdn.jsdelivr.net/npm/dejavu-sans@1.0.0/fonts/dejavu-sans-webfont.ttf");
}